.btn {
  display: inline-flex;
  color: inherit;
  @include apply-utility('weight', 'bold');
  line-height: 1;
  transition: background-color, color, 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
  padding: .8em 2.8em;
  border-radius: 5rem;
  border: none;
  font-size: get-size('sm');

  &[data-type='primary'] {
    background-color: get-color('primary');
    color: get-color('light-glare');
    &:hover {
      background-color: get-color('primary-shade');
      color: get-color('light-glare');
    }
  }

  &[data-type='secondary'] {
    background-color: get-color('secondary-glare');
    color: get-color('dark-shade');
    &:hover {
      background-color: get-color('secondary');
      color: get-color('dark-shade');
    }
  }
}
