input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(get-color('dark'), .3);
    width: auto;
    max-width: auto;
    flex-grow: 1;
    flex-shrink: 1;

    &::placeholder{
        opacity: .7;
    }

    &:focus{
        border-color: get-color('primary');
        outline: none;
    }
}