@font-face {
  font-family: 'Alfa Slab One';
  src: url('/fonts/alfaslabone.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include apply-utility('leading', 'flat');
  @include apply-utility('weight', 'bold');
}

h1,
.h1 {
  font-size: get-size('500');
  margin-top: 0;
}

h2,
.h2 {
  font-size: get-size('400');
}

h3,
.h3 {
  font-size: get-size('300');
}

h4,
.h4 {
  font-size: get-size('200');
}

h5,
.h5 {
  font-size: get-size('100');
}

h6,
.h6 {
  font-size: get-size('sm');
}

.text {
  &-large {
    font-size: calc(var(--size-300) + 2px);
  }

  &-small {
    font-size: get-size('100');
  }
}
